.thumbnail {
    text-align: left;
}

.thumbnail h3{
    font-size: 14px;
    font-weight: normal;
}

.thumbnail a{
    text-decoration: none;
    color: #007185;
}

.thumbnail img {
    object-fit: contain;
    width: 100%;
    height: 300px;
}

.category{
    display: block;
    text-transform: capitalize;
}

.price {
    display: block;
}