footer {
    background: #232F3E;
    color: #fff;
}

.back-to-top {
    background-color: #37475A;
    width: inherit;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-size: 13px;
    display: block;
    box-sizing: border-box;
}

.back-to-top:hover {
    background-color: #485769;
}

.footer-logo-container {
    border-top: 1px solid #3a4553;
    padding: 30px;
}

.footer-bottom{
    background: #131A22;
    font-size: 12px;
    padding: 15px;
}

footer img{
    height: 40px;
    width: auto;
}